body{
    background-color: #0D0D0D;
}
.loading{
  z-index: 900;
}

.loader {
    color: #fff;
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.3s infinite linear;
    transform: translateZ(0);
  }
  
  @keyframes mulShdSpin {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 
      2em -2em 0 0em, 3em 0 0 -1em, 
      2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 -1em, -3em 0 0 -1em, 
      -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 
      3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 -1em, -3em 0 0 -1em, 
      -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 
      2em -2em 0 0, 3em 0 0 0.2em, 
      2em 2em 0 0, 0 3em 0 -1em, 
      -2em 2em 0 -1em, -3em 0 0 -1em, 
      -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
       3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, 
       -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
       3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, 
       -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
       3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, 
       -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 
      3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 
      3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }
    
header{
    width: 270px;
   z-index: 990;

}
.form-control-plaintext:focus{
    border-color: #86b7fe !important;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}
.menu{
    margin-left: -202.5px;
    
}
.nav-link{
    cursor: pointer;
    margin-top: 25px;
}

.meal{
  z-index: 992;
}
.layer{
    transform: translateY(110%);
    background-color: #f9f6f6ca; 
    transition:all .5s; 
    
}
.layer h3 , p{
    overflow: hidden;
}
.meal:hover .layer{
   transform: translateY(0%) ;
}
.meal:hover h3{
    overflow:visible
}
.meal:hover p{
    overflow-x: visible;
}


#details{
    left: 67.5px;
}

.Ingredient{
    background-color: #CFF4FC;
    color: #055160;
}
.tag{
    background-color: #F8D7DA;
    color: #842029;
}

#Contact .row p{
    background-color: #F8D7DA;
    color: #842029;
}

#submitBtn:focus{
box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 50%);
}

.container{
  padding-left: 80px !important;
}
.ingredient , .area{
  z-index: 993;
}
#Search { 
  z-index: 993;
}

@media (min-width:768px) {

  .container{
  padding-left: 48px !important;
}
#Search .container{
  padding-left: 24px !important;
  
}

}